@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{

.writing-vertical{
    writing-mode: vertical-rl
}

html:not([dir=rtl]) .breadcrumb-item+.breadcrumb-item::before {
    padding-right: 0.5rem;
}

.breadcrumb-item+.breadcrumb-item::before {
    display: inline-block;
    color: #4f5d73;
    content: "/";
}

.input-group{
    position: relative;
  display: inline-block;
}

.input-group > input {
    padding-right: 1.4em;
  }

  .input-group> [data-clear-input] {
    position: absolute;
    top: 0;
    right: 0;
   
    font-size: 1.4em;
    padding-top: 2rem;
    padding-right:2rem;
    line-height: 1em;
    cursor: pointer;
  }

  .hidden{
    display:none;
  }

  .transition-1{
    transition: 0.5s;
  }

  .ml-50{
    margin-leading:50px;
  }

  .text-yellow{
    color:#f6f648;
  }

 
  

  .bg-yellow{
    background-color:#f6f648;
  }

  .hover-text-yellow:hover{
    color:#f6f648;
  }

  .border-yellow{
 border-color:#f6f648 ;
}

.trapezoid {
    border-color: transparent transparent transparent #f6f648;
    border-style: solid solid solid solid;
    border-width: 40px;
 
    /* 設定 width、height 可更好理解原理 */
    height:20rem;
    width:20rem;
  transform:rotate(270deg);
}

.top-10{
  top:10%
}

@media (min-width: 1024px) 
{ .search-icon{
  left:16rem
} 
}

@media (min-width: 1280px){
.search-icon{
  left:18rem
}
}




.search-icon-bg{
  left:18rem;
  background-color: #2f3033;
}

@media (min-width: 1280px){
.search-icon-bg{
  left:18rem
}
}

@media (min-width: 1024px) { .slogan{
  top:20rem;
  left: 2.5rem;
} }


@media (min-width: 1280px) { .slogan{
  top:22rem;
  left: 3.5rem;
} }

.responsive-img{
  content: url('../img/nologobg22.png');
}

@media (max-width: 767px) {
  .responsive-img{
  content: url('../img/nologobg-m2.png');
}
}

}

@layer components {
    .nav {
      @apply  relative flex justify-between;
    }

    .footer{
        @apply bg-slate-900 text-center text-yellow text-xs w-full
    }

    .banner-caption{
       @apply absolute text-white left-1/9 top-10 flex
    }

    .bus-groups{
        @apply grid grid-cols-6 gap-4 
    }
    .bus-card{
       @apply rounded-lg p-8  text-center
    }

    .input{
      @apply   mt-1 block w-full px-3 py-2 bg-white border border-slate-300 rounded-xl text-sm shadow-sm 
      placeholder-slate-400 focus:outline-none focus:border-sky-700 focus:ring-2 focus:ring-opacity-50 focus:ring-sky-500
     disabled:bg-slate-50 disabled:text-slate-500 disabled:border-slate-200 disabled:shadow-none
      invalid:border-pink-500 invalid:text-pink-600
      focus:invalid:border-pink-500 focus:invalid:ring-pink-500
    }

    .keyboard{
      @apply  h-10 rounded-lg flex items-center
    }

    .sidenav {

      @apply fixed top-0 right-0 h-full w-[280px]  text-black
           overflow-x-hidden z-50 translate-x-full transition-transform duration-300;
    }

    .sidenav.open {
    @apply translate-x-0;
  }

    .sidenav a {
      @apply pt-2 pr-2 pb-2 pl-2
    }
  
   

     .sidenav .closebtn{
      
       @apply absolute  text-4xl ml-[50px];

     }

       @media screen and (max-height: 450px) { 

          .sidenav {
            @apply pt-4
          }
          .sidenav a {
            @apply text-lg
          }
       }

       #overlay {
        @apply fixed  top-0 left-0 w-full h-full bg-black/50 z-40;
       }
  }
